@import "tailwindcss";

body {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif, monospace, sans-serif;
}

@layer base {
}

@theme {
  --color-offwhite: #FEFAE0;
  --color-lightgreen: #606C38;
  --color-darkgreen: #283618;
  --color-lightbrown: #DDA15E;
  --color-darkbrown: #BC6C25;
}